

/* PARAGRAPH STUFF */

h1 {
	
	text-align: left;
	font-size: 60px;
	color: white;
	font-weight: bold;

}

h2 {
	
	font-size: 30px;
    text-align: center;
	color: white;
	font-weight: bold;
	
}

h3 {
	font-size: 20px;
}

r1{
	font-size: 30px;
	font-weight: bold;
}

r2{
	font-size: 20px;
}


/* LINKS */

a:link
{
	color: white;
	font-weight: bold;

}

a:visited
{
	color: white;
	font-weight: bold;

}

a:hover
{
		color: lightblue;
		text-decoration: none;
}


/* CIRCLE WITH NAME */

.circle {
	background: black;
	border-style: solid;
	border-color: lightblue;
	border-radius:70%;
	color: white;
	display:table;
	height: 300px;
	font-weight: bold;
	font-family: monospace;
	font-size: 50px;
	width: auto;
	margin:0 auto;
	margin-top: 40px;
}

.circle span {
	display:table-cell;
	vertical-align:middle;
	height:300px;
	width:300px;
	text-align:center;
	padding: 0px;
}


.circle2 {
	background: black;
	border-style: solid;
	border-color: lightblue;
	border-radius:70%;
	color: white;
	display:table;
	height: 200px;
	font-weight: bold;
	font-family: monospace;
	font-size: 30px;
	width: auto;
	margin:0 auto;

}

.circle2 span {
	display:table-cell;
	vertical-align:middle;
	height:200px;
	width:200px;
	text-align:center;
	padding: 0px;
}


/* RESIZE IMAGES */

img.resize{
 height: auto; 
    width: auto; 
    max-width: 400px; 
    max-height: 400px;
}

img.gallery{
  object-fit: cover;
    width:230px;
  height:230px;

}


/* IMAGE GALLERIES */

.gallery {
  width: 640px;
  margin: 0 auto;
  padding: 5px;
}

.gallery > div {
  position: relative;
  float: left;
  padding: 5px;
}

.gallery > div > img {

  display: block;
  width: 200px;
  transition: .1s transform;
  transform: translateZ(0); /* hack */
}

.gallery > div:hover {
  z-index: 1;
}

.gallery > div:hover > img {
	object-fit: contain;
  transform: scale(2,2);
  transition: .3s transform;
}

.cf:before, .cf:after {
  display: table;
  content: "";
  line-height: 0;
}

.cf:after {
  clear: both;
}