

/* PARAGRAPH STUFF */

h1 {
	
	text-align: left;
	font-size: 60px;
	color: white;
	font-weight: bold;

}

h2 {
	
	font-size: 30px;
    text-align: center;
	color: white;
	font-weight: bold;
	
}

h3 {
	font-size: 20px;
}

/* LINKS */

a:link
{
	color: white;
	font-weight: bold;

}

a:visited
{
	color: white;
	font-weight: bold;

}

a:hover
{
		color: lightblue;
		text-decoration: none;
}


/* CIRCLE WITH NAME */

.circle {
	background: black;
	border-style: solid;
	border-color: lightblue;
	border-radius:70%;
	color: white;
	display:table;
	height: 300px;
	font-weight: bold;
	font-family: monospace;
	font-size: 50px;
	width: auto;
	margin:0 auto;
	margin-top: 40px;
}

.circle span {
	display:table-cell;
	vertical-align:middle;
	height:300px;
	width:300px;
	text-align:center;
	padding: 0px;
}


.circle2 {
	background: black;
	border-style: solid;
	border-color: lightblue;
	border-radius:70%;
	color: white;
	display:table;
	height: 200px;
	font-weight: bold;
	font-family: monospace;
	font-size: 30px;
	width: auto;
	margin:0 auto;

}

.circle2 span {
	display:table-cell;
	vertical-align:middle;
	height:200px;
	width:200px;
	text-align:center;
	padding: 0px;
}


/* RESIZE IMAGES */

img.resize{
   max-width:170%;
   max-height:170%;
}

/* IMAGE GALLERIES */

div.img {
    border: none;
}

div.img:hover {
    border: black;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 5px;
    text-align: center;
	font-size: 12px;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 6px;
    float: left;
    width: 47%;
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
